.sidebar p {
  margin: 10px 0;
  color: #666;
  text-align: center;
}

.favorite-location {
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  margin-bottom: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.favorite-location:hover {
  background-color: #e0e0e0;
}